.position-relative {
  position: relative;
}

.add-contact {
  position: absolute;
  right: 17px;
  top: 57px;
}

table {
  width: 100%;
  box-shadow: white 0px 0px;
}

mat-card {
  margin: 0 !important;
}
